body {
    background-color: #000000;
    padding: 4px;
    color: #FF0000;
    font-weight: lighter;
    font-size: 19px;
}

iframe {
    border-top: #00FF00 1px dotted;
    border-right: #00FF00 1px dotted;
    border-left: #00FF00 1px dotted;
    border-bottom: #00FF00 1px dotted;
    position: absolute;
    left:.3em;
    top:2em;
}
mark { 
    background-color: blue;
    color: white;
}
a:link {
    color: #FF0000;
}

a:visited {
    color: #FF0000;
}

a:hover {
    color: #00FF00;
}

a:active {
    color: red;
}
.files {
    position: absolute;
    left:30em;
    top:.5em;
}
.profile {
    position: absolute;
    left:30em;
    top:23em;
}
.thandle {
	position: absolute;
    left:.5em;
    bottom:5em;
	width: 26em;
}
.ihandle {
	position: absolute;
    left:.5em;
    bottom:19.7em;
	width: 22em;
}
.fhandle {
	position: absolute;
    left:.5em;
    bottom:19.4em;
	width: 33em;
}
.phandle {
	position: absolute;
    left:.5em;
    bottom:6.5em;
	width: 33.5em;
}
.tx{
	position: absolute;
    left:27em;
    bottom:6em;
}
.ti{
	position: absolute;
    left:23em;
    bottom:20.7em;
}
.tf{
	position: absolute;
    left:33.7em;
    bottom:20.5em;
}
.tp{
	position: absolute;
    left:34.5em;
    bottom:6.7em;
}
.menu{
	 position: fixed;
	 bottom: 0;
	 left:0;
	 width: 100%;
	 background-color: green;
}
